**/.gradle/
**/build/
local.properties

# IntelliJ
*.iml
.idea/androidTestResultsUserPreferences.xml
.idea/assetWizardSettings.xml
.idea/caches
.idea/caches/
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/compiler.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/deploymentTargetDropDown.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/.gitignore
.idea/gradle.xml
.idea/inspectionProfiles
.idea/inspectionProfiles/Project_Default.xml
.idea/jarRepositories.xml
.idea/jsLibraryMappings.xml
.idea/kotlinCodeInsightSettings.xml
.idea/kotlinc.xml
.idea/kotlinScripting.xml
.idea/libraries
.idea/libraries/
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/.name
.idea/runConfigurations.xml
.idea/scopes/scope_settings.xml
.idea/shelf/
.idea/sonarlint*
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml

# MacOS
.DS_Store
