# Syntax follows the syntax of the GitHub's codeowners file
# with some exceptions (due to Azure API format or simply not implemented):
# - All patterns should start with a slash, meaning "root of the repo": /build.gradle.kts, /platform/alexa/api/...
# - Only Azure users are supported, no teams, groups, etc...
# - Only emails are supported to identify users.
#       Domain '@tomtom.com' can be omitted in the email, both lines are interpreted in the same way:
#            pattern owner.name@tomtom.com
#            pattern owner.name
#       If email is specified with the domain then it is used as is, so following lines are different:
#            pattern owner.name@gmail.com
#            pattern owner.name
# - Only optional reviewers are supported.
#
# Examples
#
# Owners of all files
# /*                        owner@email.com
#
# Owners of all kts files
# /*.kts                    owner@email.com
#
# Multiple owners
# /*.kts                    owner@email.com owner_2@email.com
#
# Owners of all files in gradleplugins folder
# /gradleplugins/*          owner@email.com
#
# Owners of all files in all api folders
# /*/api/*                  owner@email.com
#
# Owners of appsuite folder except companionapp subfolder (note no owners in the 2nd line)
# /appsuite/*               owner@email.com
# /appsuite/companionapp/*
#
#
# More to read about Pattern Matching Notation
# https://pubs.opengroup.org/onlinepubs/000095399/utilities/xcu_chap02.html#tag_02_13


# Pipeline logic
/*.yml                                  arpitrameshwarlal.kothari diogo.bilkes
/*.py                                   arpitrameshwarlal.kothari diogo.bilkes

# Core build logic
# Some kts files are not included (like /buildSrc/* or /build.gradle.kts), as they
# do not have owners (in this file) at this moment.
/build-logic/*                          arpitrameshwarlal.kothari bishal.sahu diogo.bilkes ralph.stoffers
/gradle.properties                      arpitrameshwarlal.kothari
/*/settings.gradle.kts                  arpitrameshwarlal.kothari

# Developer portal
/docs/portal/*                          alexis.riksman aristotelis.bobas ingo.haumann maksym.kadiri
/docs/portal/src/*                      frank.palinkas
/docs/portal/src/designers/*            aleksa.rudakova


# Example apps
/examples/activityview/*                anton.shinkaretsky maxim.tkachenko nico.schoenmaker roelof.kemp
/examples/alexa/*                       oreste.salerno
/examples/applauncher/*                 david.williams
/examples/common/*                      jeroen.jensen
/examples/commonfunctionaltest/*        diogo.bilkes
/examples/communications/*              martijn.vandervoort mikhail.korotkov mootaz.chaabani
/examples/companionapp/*                martijn.vandervoort mikhail.korotkov mootaz.chaabani
/examples/customization/*               hsin.wei.yang jeroen.jensen nico.schoenmaker
/examples/debugtab/*                    jeroen.jensen
/examples/localizestrings/*             jeroen.jensen
/examples/media/*                       grigory.fedorov vasken.guzel valerio.pilo
/examples/notifications/*               anton.shinkaretsky maxim.tkachenko nico.schoenmaker roelof.kemp
/examples/panelhierarchy/*              anton.shinkaretsky maxim.tkachenko nico.schoenmaker roelof.kemp
/examples/plugin/*                      jeroen.jensen
/examples/processpanel/*                anton.shinkaretsky maxim.tkachenko nico.schoenmaker roelof.kemp
/examples/telephony/*                   martijn.vandervoort mikhail.korotkov mootaz.chaabani
/examples/vpa/*                         oreste.salerno

# Resources
/resources/*                            alexis.riksman aristotelis.bobas ingo.haumann maksym.kadiri oreste.salerno

# Template app
/template/*                             aristotelis.bobas jeroen.jensen
