<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2022 TomTom NV. All rights reserved.
  ~
  ~ This software is the proprietary copyright of TomTom NV and its subsidiaries and may be
  ~ used for internal evaluation purposes or commercial use strictly subject to separate
  ~ license agreement between you and TomTom NV. If you are the licensee, you are only permitted
  ~ to use this software in accordance with the terms of your license agreement. If you are
  ~ not the licensee, you are not authorized to use this software in any manner and should
  ~ immediately return or destroy it.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ivi.example.media.source">

    <application
        android:name=".ExampleMediaSourceApplication"
        android:label="@string/example_media_source_title"
        tools:ignore="MissingApplicationIcon"
        android:theme="@style/Theme.ExampleMusicTheme">

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ExampleMediaSourceService"
            android:exported="true"
            android:label="@string/example_media_source_title"
            tools:ignore="ExportedService">

            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>

</manifest>
