<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2023 TomTom NV. All rights reserved.
  ~
  ~ This software is the proprietary copyright of TomTom NV and its subsidiaries and may be
  ~ used for internal evaluation purposes or commercial use strictly subject to separate
  ~ license agreement between you and TomTom NV. If you are the licensee, you are only permitted
  ~ to use this software in accordance with the terms of your license agreement. If you are
  ~ not the licensee, you are not authorized to use this software in any manner and should
  ~ immediately return or destroy it.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="@string/example_telephony_custompolicies_title"
        tools:ignore="MissingApplicationIcon"
        tools:replace="android:label" />
</manifest>
